<nav>
    <a href="projects/">Projects</a><br>
    <a href="projects/{{projectId}}/todos/add">Add To Do</a>
</nav>
<h1>ToDo List</h1>
<div *ngIf="todos">
    <ul>
        <li *ngFor="let todo of todos">
            <h3>{{todo.title}}</h3>
            <i>{{todo.daysToComplete}} days</i>
            <p>{{todo.description}}</p>
            <span>Priority: {{todo.priority}}</span><br>
            <b><i>{{todo.isDone}}</i></b><br>
            <a href="projects/{{projectId}}/todos/edit/{{todo.id}}">Edit</a>
            <button (click)="deleteToDo(todo.id)">Delete</button>
        </li>
    </ul>
</div>
<div *ngIf="todos.length <= 0">There is no to dos yet!</div>
