
.project-list {
    list-style-type: none;
}

.project-list li {
    border-bottom: 1px dashed #9b9b9b;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-list li .project-link {
    text-decoration: none;
    color: #7a7a7a;
}

.project-list li .project-list-controls button {
    background-color: #b60f0f;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}